#apply-main {
    width: 800px;
    margin: 0 auto;
    height: 700px;
    line-height: 5;
}
    #apply-main fieldset {
        border: 1px solid #ccc;
    }
    #apply-main label {
        width: 200px;
        text-align: left;
        float: left;
        padding-left: 10px;
        font-size: 16px;
    }
    #apply-main legend {
        font-size: 18px;
        text-align: center;
        font-weight: 900;
        color: #2fbdb1;
    }
    #lesson-apply {
        list-style-type: none;
        font-family: 'Noto Sans KR', sans-serif;
    }
        #lesson-title, #apply-plan {
            height: 40px;
            width: 300px;
        }
        #apply-price {
            width: 100px;
            height: 40px;
        }
        #lesson-apply input:focus
        , #lesson-apply select:focus
        , #lesson-apply textarea:focus {
            background-color: #62d3952a;
        }
        #lesson-apply select {
            width: 100px;
            height: 40px;
        }
        #lesson-apply li p {
            margin-top:-40px;
        }
#apply-btns {
    text-align: center;
}
    .apply-btn {
        width: 120px;
        height: 50px;
        background-color: #2fbdb1;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 10px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }
    .apply-btn:hover {
        cursor: pointer;
        background-color: #ccc;
    }