#detail-main {
    width: 1000px;
    height: 900px;
    margin: 0 auto; 
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 50px;
}
    #detail-main h2 {
        text-align: center;
        margin-top: 80px;
    }
#teacher-id {
    width: 800px;
    text-align: right;
    margin-top: 30px;
}
#pre-intro {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
    border-top: 1.7px solid #2fbdb1;
    border-bottom: 1.7px solid #2fbdb1;
    text-align: center;
}
#lesson-opt {
    width: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
    #lesson-opt div {
        width: 150px;
        height: 40px;
        border-bottom: 1px solid #ccc;
    }
#detail-intro {
    width: 800px;
    height: 350px;
    margin: 0 auto;
    
}
    #detail-intro fieldset {
        border: 1px solid #ccc;
        width: 600px;
        height: 250px;
        margin: 0 auto;
        padding: 30px;
    }
    #detail-intro legend {
        text-align: center;
        color: #555555;
    }
#detail-btns {
   text-align: center;
}   
    #detail-btns button{
        width: 150px;
        height: 50px;
        background-color: #2fbdb1;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 10px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px; 
    }
    #detail-btns button:hover {
        cursor: pointer;
        background-color: #ccc;
    }