#list-main {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 70px;
}
#list-title {
    width: 700px;
    text-align: center;
    margin: 30px auto;
    border-bottom: 2px solid #2fbdb1b9;
}
#list-content {
    width: 700px;
    margin: 0 auto;
    line-height: 3;  
    margin-bottom: 70px;
}
    #detailLink:link, #detailLink:visited {
        text-decoration: none;
        color: black;
    } 
    #detailLink:hover {
        cursor: pointer;
    }
#list-detail {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;  
}
