#modify-main {
    width: 800px;
    margin: 0 auto;
    height: 800px;
    line-height: 5;
    padding-top: 100px;
}
    #modify-main fieldset {
        border: 1px solid #ccc;
        height: 700px;
    }
    #modify-main label {
        width: 200px;
        text-align: left;
        float: left;
        padding-left: 10px;
        font-size: 16px;
    }
    #modify-main legend {
        font-size: 18px;
        text-align: center;
        font-weight: 900;
        color: #2fbdb1;
    }
    #lesson-modify {
        list-style-type: none;
        font-family: 'Noto Sans KR', sans-serif;
    }
        #lesson-modify input {
            height: 40px;
            width: 300px;
        }
        #lesson-modify input:focus
        , #lesson-modify select:focus
        , #lesson-modify textarea:focus {
            background-color: #62d3952a;
        }
        #lesson-modify select {
            width: 100px;
            height: 40px;
        }
#modify-btns {
    text-align: center;
    margin-top: 20px;
}
    .modify-btn {
        width: 120px;
        height: 50px;
        background-color: #2fbdb1;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 10px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }
    .modify-btn:hover {
        cursor: pointer;
        background-color: #ccc;
    }