<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApplyMapper">
	<resultMap type="Apply" id="applyResultMap">
		<result property="lessonNo" column="LESSON_NO"/>
		<result property="lessonTitle" column="LESSON_TITLE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="applyPrice" column="APPLY_PRICE"/>
		<result property="applyPlan" column="APPLY_PLAN"/>
		<result property="applyContent" column="APPLY_CONTENT"/>
		<result property="applyDate" column="APPLY_DATE"/>
	</resultMap>
	
	<!-- insert -->
	<insert id="insertApply">
		INSERT INTO LESSON_APPLY VALUES(#{lessonNo}, #{memberId}, #{applyPrice}, #{applyPlan}, #{applyContent}, DEFAULT)
	</insert>
	<update id="modifyApply">
		UPDATE LESSON_APPLY SET APPLY_PRICE = #{applyPrice}, APPLY_PLAN = #{applyPlan}, APPLY_CONTENT = #{applyContent} WHERE LESSON_NO = #{lessonNo} AND MEMBER_ID = #{memberId}
	</update>
	<delete id="deleteApply">
		DELETE FROM LESSON_APPLY WHERE LESSON_NO = #{lessonNo} AND MEMBER_ID = #{memberId}
	</delete>
	
	<!-- select -->
	<select id="selectOneApply" resultMap="applyResultMap">
		SELECT * FROM LESSON_APPLY WHERE LESSON_NO = #{lessonNo} AND MEMBER_ID = #{memberId}
	</select>
	<select id="selectApplys" resultMap="applyResultMap">
		SELECT A.*, L.LESSON_TITLE FROM LESSON_APPLY A JOIN LESSON L ON A.LESSON_NO = L.LESSON_NO WHERE A.MEMBER_ID = #{memberId}
	</select>
	<select id="selectByLesson" resultMap="applyResultMap">
		SELECT A.*, M.MEMBER_EMAIL, M.MEMBER_NICKNAME, L.LESSON_TITLE FROM LESSON_APPLY A JOIN MEMBER M ON A.MEMBER_ID = M.MEMBER_ID JOIN LESSON L ON A.LESSON_NO = L.LESSON_NO WHERE A.LESSON_NO = #{lessonNo}
	</select>	
</mapper>