<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardCommentMapper">
	<resultMap type="BoardComment" id="BoardCommentResultMap">
		<id 	property="commentNo"  	   column="COMMENT_NO"/>
		<result property="boardNo" 		   column="BOARD_NO"/>
		<result property="commentContent"  column="COMMENT_CONTENT"/>
		<result property="memberId" 	   column="MEMBER_ID"/>
		<result property="commentDate" 	   column="COMMENT_DATE"/>
		<result property="commentUpdate"   column="COMMENT_UPDATE"/>
		<result property="memberNickname"  column="MEMBER_NICKNAME"/>
	</resultMap>
	
	<!-- 댓글 등록 -->
	<insert id="insertComment" parameterType="BoardComment">
		INSERT INTO BOARD_COMMENT (COMMENT_NO, BOARD_NO, COMMENT_CONTENT, MEMBER_ID) VALUES (SEQ_BORADCOMMENTNO.NEXTVAL, #{boardNo}, #{commentContent}, #{memberId})
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment">
		DELETE FROM BOARD_COMMENT WHERE COMMENT_NO = #{commentNo}
	</delete>
	
	<!-- 댓글 목록 -->
	<select id="selectCommentList" resultMap="BoardCommentResultMap">
		SELECT BC.*, M.MEMBER_NICKNAME FROM BOARD_COMMENT BC JOIN MEMBER M ON BC.MEMBER_ID = M.MEMBER_ID WHERE BOARD_NO = #{boardNo} ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 민우 추가 마이페이지 내가 쓴 댓글 -->
	<select id="searchListByComment" resultMap="BoardCommentResultMap">
		SELECT C.COMMENT_NO, C.COMMENT_CONTENT, C.COMMENT_DATE, C.MEMBER_ID, B.BOARD_CATEGORY, B.VIEW_COUNT 
		FROM BOARD_COMMENT C 
		JOIN BOARD B ON B.BOARD_NO = C.BOARD_NO 
		WHERE C.MEMBER_ID = #{memberId}
	</select>
	<select id="getBoardCommentListCount" resultType="_int">
		SELECT COUNT(*) AS COMMENT_COUNT
		FROM BOARD_COMMENT C 
		JOIN BOARD B ON B.BOARD_NO = C.BOARD_NO
	</select>
</mapper>