<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChattingMapper">
	<resultMap type="Member" id="memberResultMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberAddr" column="MEMBER_ADDR"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="modDate" column="MOD_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="memberPoint" column="MEMBER_POINT"/>
	</resultMap>
	<resultMap type="Chatting" id="chattingResultMap">
		<id property="chatNo" column="CHAT_NO"/>
		<result property="senderId" column="SENDER_ID"/>
		<result property="senderNickname" column="SENDER_NICKNAME"/>
		<result property="receiverId" column="RECEIVER_ID"/>
		<result property="receiverNickname" column="RECEIVER_NICKNAME"/>
		<result property="msgContent" column="MSG_CONTENT"/>
		<result property="sendDate" column="SEND_DATE"/>
	</resultMap>
	
	<!-- 로그인된 사용자의 채팅 목록 출력 -->
	<select id="selectChattingById" resultMap="chattingResultMap">
		SELECT DISTINCT SENDER_NICKNAME, NULL AS RECEIVER_NICKNAME, SEND_DATE
		FROM CHATTING 
		WHERE RECEIVER_ID = #{loginId}
		UNION ALL
		SELECT DISTINCT NULL AS SENDER_NICKNAME, RECEIVER_NICKNAME, SEND_DATE
		FROM CHATTING
		WHERE SENDER_ID = #{loginId}
		ORDER BY SEND_DATE DESC
	</select>
	
	<!-- 닉네임 검색 -->
	<select id="selectMemberByNick" resultMap="memberResultMap">
		SELECT MEMBER_ID, MEMBER_NICKNAME FROM MEMBER WHERE MEMBER_NICKNAME LIKE '%' || #{memberNickName} || '%'
	</select>
	
	<!-- 아이디로 닉네임 출력 -->
	<select id="getNicknameById" resultType="string">
		SELECT MEMBER_NICKNAME FROM MEMBER WHERE MEMBER_ID = #{receiverId}
	</select>
	
	<!-- 닉네임으로 아이디 출력 -->
	<select id="getIdByNickname" resultType="string">
		SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_NICKNAME = #{opponentNickname}
	</select>
	
	<!-- 메시지 출력 -->
	<select id="selectAllChatting" resultMap="chattingResultMap">
		SELECT * FROM CHATTING WHERE (SENDER_ID= #{loginId} AND RECEIVER_NICKNAME = #{opponentNickname}) OR (SENDER_NICKNAME = #{opponentNickname} AND RECEIVER_ID = #{loginId}) ORDER BY SEND_DATE ASC
	</select>
	
	<!-- 메시지 전송 -->
	<insert id="insertChatting">
		INSERT INTO CHATTING VALUES(SEQ_CHATTINGNO.NEXTVAL, #{loginId}, #{loginNickname}, #{opponentId}, #{opponentNickname}, #{msgContent}, DEFAULT)
	</insert>
</mapper>