<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ManagerMapper">
	<resultMap type="Member" id="memberResultMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberAddr" column="MEMBER_ADDR"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="modDate" column="MOD_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="memberPoint" column="MEMBER_POINT"/>
	</resultMap>
	
	<resultMap type="Lesson" id="lessonResultMap">
		<id property="lessonNo" column="LESSON_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="lessonTitle" column="LESSON_TITLE"/>
		<result property="lessonPre" column="LESSON_PRE"/>
		<result property="lessonContent" column="LESSON_CONTENT"/>
		<result property="lessonArea" column="LESSON_AREA"/>
		<result property="lessonPlan" column="LESSON_PLAN"/>
		<result property="lessonPrice" column="LESSON_PRICE"/>
		<result property="lessonDate" column="LESSON_DATE"/>
		<result property="lessonUpdate" column="LESSON_UPDATE"/>
	</resultMap>
	
	<resultMap type="Board" id="BoardResultMap">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardCategory" column="BOARD_CATEGORY"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardDate" column="BOARD_DATE"/>
		<result property="boardUpdate" column="BOARD_UPDATE"/>
		<result property="viewCount" column="VIEW_COUNT"/>
	</resultMap>
	
	<resultMap type="MarketSell" id="marketSellResultMap">
		<id property="sellNo" column="SELL_NO"/>
		<result property="sellTitle" column="SELL_TITLE"/>
		<result property="sellContent" column="SELL_CONTENT"/>
		<result property="sellPrice" column="SELL_PRICE"/>
		<result property="sellArea" column="SELL_AREA"/>
		<result property="productCondition" column="PRODUCT_CONDITION"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="modDate" column="MOD_DATE"/>
		<result property="sellCondition" column="SELL_CONDITION"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="img1" column="IMG1"/>
		<result property="img2" column="IMG2"/>
		<result property="img3" column="IMG3"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
	</resultMap>
	
	<!-- 회원관리 -->
	<select id="selectMembers" resultMap="memberResultMap">
		SELECT * FROM MEMBER
	</select>
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	<select id="getSearchListCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER 
		<choose>
			<when test="searchMemberCondition == 'm-id'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchMemberCondition == 'm-name'">
				WHERE MEMBER_NAME LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' OR MEMBER_NAME LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	<select id="selectListByKeyword" resultMap="memberResultMap">
		SELECT * FROM MEMBER 
		<choose>
			<when test="searchMemberCondition == 'm-id'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchMemberCondition == 'm-name'">
				WHERE MEMBER_NAME LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' OR MEMBER_NAME LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	<delete id="deleteMember">
		DELETE FROM MEMBER WHERE MEMBER_ID=#{memberId}
	</delete>
	<update id="updateStatus">
		UPDATE MEMBER 
		SET STATUS= CASE WHEN STATUS = 'Y' THEN 'N' ELSE 'Y' END
		WHERE MEMBER_ID=#{memberId}
	</update>
	
	
	
	<!-- 레슨 게시판 -->
	<select id="selectLessonBoard" resultMap="lessonResultMap">
		SELECT * FROM LESSON
	</select>
	<select id="getLessonListCount" resultType="_int">
		SELECT COUNT(*) FROM LESSON
		<choose>
			<when test="searchCondition == 'writer'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'title'">
				WHERE LESSON_TITLE LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' OR LESSON_TITLE LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	<select id="selectLessonListByKeyword" resultMap="lessonResultMap">
		SELECT * FROM LESSON
		<choose>
			<when test="searchCondition == 'writer'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'title'">
				WHERE LESSON_TITLE LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' OR LESSON_TITLE LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	
	<delete id="deleteLessonBoard">
		DELETE FROM LESSON WHERE LESSON_NO=#{lessonNo}
	</delete>
	
	<!-- 자유 게시판 -->
	<select id="selectBoard" resultMap="BoardResultMap">
		SELECT * FROM BOARD
	</select>
	<select id="getBoardListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
		<choose>
			<when test="searchCondition == 'category'">
				WHERE BOARD_CATEGORY LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'writer'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' OR BOARD_CATEGORY LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	<select id="selectBoardListByKeyword" resultMap="BoardResultMap">
		SELECT * FROM BOARD
		<choose>
			<when test="searchCondition == 'category'">
				WHERE BOARD_CATEGORY LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'writer'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' OR BOARD_CATEGORY LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	
	<delete id="deleteBoard">
		DELETE FROM BOARD WHERE BOARD_NO=#{boardNo}
	</delete>
	
	<!-- 마켓 게시판 -->
	<select id="selectMarketBoard" resultMap="marketSellResultMap">
		select s.sell_no,s.sell_title,s.sell_price,s.sell_area,s.member_id,s.write_date, substr(i.img1, 57) as img1 from market_sell s join market_image i on i.sell_no = s.sell_no order by 6 desc
	</select>
	<select id="getMarketListCount" resultType="_int">
		SELECT COUNT(*) FROM MARKET_SELL
		<choose>
			<when test="searchCondition == 'no'">
				WHERE SELL_NO LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'title'">
				WHERE SELL_TITLE LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'writer'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' OR SELL_NO LIKE '%' || #{searchValue} || '%' OR SELL_TITLE LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	<select id="selectMarketListByKeyword" resultMap="marketSellResultMap">
		select s.sell_no,s.sell_title,s.sell_price,s.sell_area,s.member_id,s.write_date, substr(i.img1, 57) as img1 from market_sell s join market_image i on i.sell_no = s.sell_no
		<choose>
			<when test="searchCondition == 'no'">
				WHERE s.SELL_NO LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'title'">
				WHERE SELL_TITLE LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'writer'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' OR s.SELL_NO LIKE '%' || #{searchValue} || '%' OR SELL_TITLE LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	
	<delete id="deleteMarketBoard">
		DELETE FROM MARKET_SELL WHERE SELL_NO=#{sellNo}
	</delete>
	
	
</mapper>