<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MarketMapper">
	<!-- resultMap -->
	<resultMap type="MarketSell" id="marketSellResultMap">
		<id property="sellNo" column="SELL_NO"/>
		<result property="sellTitle" column="SELL_TITLE"/>
		<result property="sellContent" column="SELL_CONTENT"/>
		<result property="sellPrice" column="SELL_PRICE"/>
		<result property="sellArea" column="SELL_AREA"/>
		<result property="productCondition" column="PRODUCT_CONDITION"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="modDate" column="MOD_DATE"/>
		<result property="sellCondition" column="SELL_CONDITION"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="img1" column="IMG1"/>
		<result property="img2" column="IMG2"/>
		<result property="img3" column="IMG3"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="commentCount" column="COMMENT_COUNT"/>
	</resultMap>
	<resultMap type="MarketImage" id="marketImageResultMap">
		<id property="sellNo" column="SELL_NO"/>
		<result property="img1" column="IMG1"/>
		<result property="img2" column="IMG2"/>
		<result property="img3" column="IMG3"/>
	</resultMap>
	<resultMap type="MarketComment" id="marketCommentResultMap">
		<id property="commentNo" column="COMMENT_NO"/>
		<result property="sellNo" column="SELL_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="commentContent" column="COMMENT_CONTENT"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
	</resultMap>
	
	<!-- SQL Query -->
	<!-- select -->
	<select id="selectAllSell" resultMap="marketSellResultMap">
<!-- 		SELECT * FROM MARKET_SELL INNER JOIN MARKET_IMAGE ON MARKET_SELL.SELL_NO = MARKET_IMAGE.SELL_NO -->
		SELECT S.*, I.IMG1, COUNT(C.SELL_NO) AS COMMENT_COUNT
		FROM MARKET_SELL S JOIN MARKET_IMAGE I ON S.SELL_NO = I.SELL_NO LEFT JOIN MARKET_COMMENT C ON S.SELL_NO = C.SELL_NO 

			<!-- 검색 -->
			<if test="sellArea=='' and sellCondition=='' and search!=null">
				WHERE S.SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition=='' and search!=null and search==''">
				WHERE S.SELL_AREA = #{sellArea}
			</if>
			<!-- 판매여부 -->
			<if test="sellArea!=null and sellArea=='' and sellCondition!=null and sellCondition!='' and search!=null and search==''">
				WHERE S.SELL_CONDITION = #{sellCondition}
			</if>
			<!-- 지역 + 검색 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition=='' and search!=null and search!=''">
				WHERE S.SELL_AREA = #{sellArea} AND S.SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 + 판매여부 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition!='' and search!=null and search==''">
				WHERE S.SELL_AREA = #{sellArea} AND S.SELL_CONDITION = #{sellCondition}
			</if>
			<!-- 판매여부 + 검색 -->
			<if test="sellArea!=null and sellArea=='' and sellCondition!=null and sellCondition!='' and search!=null and search!=''">
				WHERE S.SELL_CONDITION = #{sellCondition} AND S.SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 + 판매여부 + 검색 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition!='' and search!=null and search!=''">
				WHERE S.SELL_AREA = #{sellArea} AND S.SELL_CONDITION = #{sellCondition} AND S.SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
		GROUP BY S.SELL_NO, S.SELL_TITLE, S.SELL_CONTENT, S.SELL_PRICE, S.SELL_AREA, S.PRODUCT_CONDITION,
		S.MEMBER_ID, S.WRITE_DATE, S.MOD_DATE, S.SELL_CONDITION, S.VIEW_COUNT, S.MEMBER_NICKNAME, I.IMG1
		ORDER BY S.WRITE_DATE DESC
	</select>
	
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM MARKET_SELL INNER JOIN MARKET_IMAGE ON MARKET_SELL.SELL_NO = MARKET_IMAGE.SELL_NO
			<!-- 검색 -->
			<if test="sellArea=='' and sellCondition=='' and search!=null">
				WHERE SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition=='' and search!=null and search==''">
				WHERE SELL_AREA = #{sellArea}
			</if>
			<!-- 판매여부 -->
			<if test="sellArea!=null and sellArea=='' and sellCondition!=null and sellCondition!='' and search!=null and search==''">
				WHERE SELL_CONDITION = #{sellCondition}
			</if>
			<!-- 지역 + 검색 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition=='' and search!=null and search!=''">
				WHERE SELL_AREA = #{sellArea} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 + 판매여부 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition!='' and search!=null and search==''">
				WHERE SELL_AREA = #{sellArea} AND SELL_CONDITION = #{sellCondition}
			</if>
			<!-- 판매여부 + 검색 -->
			<if test="sellArea!=null and sellArea=='' and sellCondition!=null and sellCondition!='' and search!=null and search!=''">
				WHERE SELL_CONDITION = #{sellCondition} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 + 판매여부 + 검색 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition!='' and search!=null and search!=''">
				WHERE SELL_AREA = #{sellArea} AND SELL_CONDITION = #{sellCondition} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
		ORDER BY WRITE_DATE DESC
	</select>
	<select id="selectOneByNo" resultMap="marketSellResultMap">
		SELECT SELL.SELL_NO, SELL.SELL_TITLE, SELL.SELL_CONTENT, SELL.SELL_PRICE, SELL.SELL_AREA, SELL.PRODUCT_CONDITION, SELL.MEMBER_ID,
		SELL.WRITE_DATE, SELL.MOD_DATE, SELL.SELL_CONDITION, SELL.VIEW_COUNT, SELL.MEMBER_NICKNAME,
		IMAGE.IMG1, IMAGE.IMG2, IMAGE.IMG3
		FROM MARKET_SELL SELL INNER JOIN MARKET_IMAGE IMAGE
		ON SELL.SELL_NO = IMAGE.SELL_NO WHERE SELL.SELL_NO = #{sellNo}
	</select>
	
	<select id="getCmtTotalCount" resultType="_int">
		SELECT COUNT(*) FROM MARKET_COMMENT WHERE SELL_NO = #{sellNo}
	</select>
	
	<select id="selectAllComment" resultMap="marketCommentResultMap">
		SELECT C.*, M.MEMBER_NICKNAME FROM MARKET_COMMENT C JOIN MEMBER M ON C.MEMBER_ID = M.MEMBER_ID 
		WHERE SELL_NO = #{sellNo} ORDER BY WRITE_DATE ASC
	</select>
	
	<!-- insert -->
	<insert id="insertMarketSell">
		INSERT INTO MARKET_SELL 
		VALUES(SEQ_SELLNO.NEXTVAL, #{sellTitle}, #{sellContent}, #{sellPrice}, #{sellArea}, #{productCondition}, #{memberId}, DEFAULT, DEFAULT,
				DEFAULT, DEFAULT, #{memberNickname})
	</insert>
	
	<insert id="insertMarketImage">
		INSERT INTO MARKET_IMAGE
		VALUES(SEQ_SELLNO.CURRVAL, #{img1}, #{img2}, #{img3})
	</insert>
	
	<insert id="insertMarketPayment">
		INSERT INTO MARKET_PAYMENT
		VALUES(SEQ_PAYMENTNO.NEXTVAL, #{sellNo}, #{sellTitle}, #{sellerId}, #{buyerId}, #{paymentPrice}, #{deliveryMsg}, DEFAULT)
	</insert>
	
	<insert id="insertComment">
		INSERT INTO MARKET_COMMENT
		VALUES(SEQ_MARKETCOMMENTNO.NEXTVAL, #{sellNo}, #{memberId}, #{commentContent}, DEFAULT, DEFAULT)
	</insert>
	
	
	
	<!-- update -->
	<update id="updateViewCount">
		UPDATE MARKET_SELL SET VIEW_COUNT = VIEW_COUNT + 1 WHERE SELL_NO = #{sellNo}
	</update>
	
	<update id="updateSellCondition">
		UPDATE MARKET_SELL SET SELL_CONDITION = 'soldout' WHERE SELL_NO = #{sellNo}
	</update>
	
	<update id="updateMemberPoint">
		UPDATE MEMBER SET MEMBER_POINT = MEMBER_POINT + #{paymentPrice} WHERE MEMBER_ID = #{sellerId}
	</update>
	
	<update id="updateMarketSell">
		UPDATE MARKET_SELL SET SELL_TITLE = #{sellTitle}, SELL_CONTENT = #{sellContent}, SELL_PRICE = #{sellPrice}, SELL_AREA = #{sellArea},
		PRODUCT_CONDITION = #{productCondition}, MOD_DATE = DEFAULT WHERE SELL_NO = #{sellNo}
	</update>
	
	
	
	<!-- delete -->
	<delete id="deleteMarketSell">
		DELETE FROM MARKET_SELL WHERE SELL_NO = #{sellNo} AND MEMBER_ID = #{loginMemberId}
	</delete>
	
	<delete id="deleteMarketImage">
		DELETE FROM MARKET_IMAGE WHERE SELL_NO = #{sellNo}
	</delete>
</mapper>