<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MarketMapper">
	<!-- resultMap -->
	<resultMap type="MarketSell" id="marketSellResultMap">
		<id property="sellNo" column="SELL_NO"/>
		<result property="sellTitle" column="SELL_TITLE"/>
		<result property="sellContent" column="SELL_CONTENT"/>
		<result property="sellPrice" column="SELL_PRICE"/>
		<result property="sellArea" column="SELL_AREA"/>
		<result property="productCondition" column="PRODUCT_CONDITION"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="modDate" column="MOD_DATE"/>
		<result property="sellCondition" column="SELL_CONDITION"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="img1" column="IMG1"/>
		<result property="img2" column="IMG2"/>
		<result property="img3" column="IMG3"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
	</resultMap>
	<resultMap type="MarketImage" id="marketImageResultMap">
		<id property="sellNo" column="SELL_NO"/>
		<result property="img1" column="IMG1"/>
		<result property="img2" column="IMG2"/>
		<result property="img3" column="IMG3"/>
	</resultMap>
	
	<!-- SQL Query -->
	<!-- select -->
	<!-- 	민우 추가 -->
	<select id="searchsellListById" resultMap="marketSellResultMap">
		select s.sell_no,s.sell_title,s.sell_price,s.sell_area,s.member_id,s.write_date, substr(i.img1, 57) as img1 from market_sell s join market_image i on i.sell_no = s.sell_no where member_id = #{memberId}
	</select>
	<select id="searchbuyListById" resultMap="marketSellResultMap">
		SELECT * FROM MARKET_PAYMENT WHERE BUYER_ID = #{memberId}
	</select>
	<select id="selectAllSell" resultMap="marketSellResultMap">
		SELECT * FROM MARKET_SELL INNER JOIN MARKET_IMAGE ON MARKET_SELL.SELL_NO = MARKET_IMAGE.SELL_NO
			<!-- 검색 -->
			<if test="sellArea=='' and sellCondition=='' and search!=null">
				WHERE SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition=='' and search!=null and search==''">
				WHERE SELL_AREA = #{sellArea}
			</if>
			<!-- 판매여부 -->
			<if test="sellArea!=null and sellArea=='' and sellCondition!=null and sellCondition!='' and search!=null and search==''">
				WHERE SELL_CONDITION = #{sellCondition}
			</if>
			<!-- 지역 + 검색 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition=='' and search!=null and search!=''">
				WHERE SELL_AREA = #{sellArea} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 + 판매여부 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition!='' and search!=null and search==''">
				WHERE SELL_AREA = #{sellArea} AND SELL_CONDITION = #{sellCondition}
			</if>
			<!-- 판매여부 + 검색 -->
			<if test="sellArea!=null and sellArea=='' and sellCondition!=null and sellCondition!='' and search!=null and search!=''">
				WHERE SELL_CONDITION = #{sellCondition} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 + 판매여부 + 검색 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition!='' and search!=null and search!=''">
				WHERE SELL_AREA = #{sellArea} AND SELL_CONDITION = #{sellCondition} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
		ORDER BY WRITE_DATE DESC
	</select>
	
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM MARKET_SELL INNER JOIN MARKET_IMAGE ON MARKET_SELL.SELL_NO = MARKET_IMAGE.SELL_NO
			<!-- 검색 -->
			<if test="sellArea=='' and sellCondition=='' and search!=null">
				WHERE SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition=='' and search!=null and search==''">
				WHERE SELL_AREA = #{sellArea}
			</if>
			<!-- 판매여부 -->
			<if test="sellArea!=null and sellArea=='' and sellCondition!=null and sellCondition!='' and search!=null and search==''">
				WHERE SELL_CONDITION = #{sellCondition}
			</if>
			<!-- 지역 + 검색 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition=='' and search!=null and search!=''">
				WHERE SELL_AREA = #{sellArea} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 + 판매여부 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition!='' and search!=null and search==''">
				WHERE SELL_AREA = #{sellArea} AND SELL_CONDITION = #{sellCondition}
			</if>
			<!-- 판매여부 + 검색 -->
			<if test="sellArea!=null and sellArea=='' and sellCondition!=null and sellCondition!='' and search!=null and search!=''">
				WHERE SELL_CONDITION = #{sellCondition} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
			<!-- 지역 + 판매여부 + 검색 -->
			<if test="sellArea!=null and sellArea!='' and sellCondition!=null and sellCondition!='' and search!=null and search!=''">
				WHERE SELL_AREA = #{sellArea} AND SELL_CONDITION = #{sellCondition} AND SELL_TITLE LIKE '%' || #{search} || '%'
			</if>
		ORDER BY WRITE_DATE DESC
	</select>
	
	<!-- insert -->
	<insert id="insertMarketSell">
		INSERT INTO MARKET_SELL 
		VALUES(SEQ_SELLNO.NEXTVAL, #{sellTitle}, #{sellContent}, #{sellPrice}, #{sellArea}, #{productCondition}, #{memberId}, DEFAULT, DEFAULT,
				DEFAULT, DEFAULT, #{memberNickname})
	</insert>
	<insert id="insertMarketImage">
		INSERT INTO MARKET_IMAGE
		VALUES(SEQ_SELLNO.CURRVAL, #{img1}, #{img2}, #{img3})
	</insert>
</mapper>