<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReportMapper">
<resultMap type="Report" id="reportResultMap">
		<id property="reportNo" column="REPORT_NO"/>
		<result property="postNo" column="POST_NO"/>
		<result property="postCategory" column="POST_CATEGORY"/>
		<result property="reportCategory" column="REPORT_CATEGORY"/>
		<result property="reportContent" column="REPORT_CONTENT"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="reportDate" column="REPORT_DATE"/>
		<result property="reportCondition" column="REPORT_CONDITION"/>
	</resultMap>
	
	<insert id="insertReport">
		INSERT INTO REPORT 
		VALUES(SEQ_REPORTNO.NEXTVAL, #{postNo}, #{postCategory}, #{reportCategory}, #{reportContent}, #{memberId}, DEFAULT, DEFAULT)
	</insert>
	
	<select id="selectReportBoard" resultMap="reportResultMap">
		SELECT * FROM REPORT
	</select>
	<select id="getReportListCount" resultType="_int">
		SELECT COUNT(*) FROM REPORT
		<choose>
			<when test="searchCondition == 'category'">
				WHERE POST_CATEGORY LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'type'">
				WHERE REPORT_CATEGORY LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'writer'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'condition'">
				WHERE REPORT_CONDITION LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' 
				OR REPORT_CONDITION LIKE '%' || #{searchValue} || '%' 
				OR REPORT_CATEGORY LIKE '%' || #{searchValue} || '%'
				OR POST_CATEGORY LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	<select id="selectReportListByKeyword" resultMap="reportResultMap">
		SELECT * FROM REPORT
		<choose>
			<when test="searchCondition == 'category'">
				WHERE POST_CATEGORY LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'type'">
				WHERE REPORT_CATEGORY LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'writer'">
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchCondition == 'condition'">
				WHERE REPORT_CONDITION LIKE '%' || #{searchValue} || '%'
			</when>
			<otherwise>
				WHERE MEMBER_ID LIKE '%' || #{searchValue} || '%' 
				OR REPORT_CONDITION LIKE '%' || #{searchValue} || '%' 
				OR REPORT_CATEGORY LIKE '%' || #{searchValue} || '%'
				OR POST_CATEGORY LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>
	</select>
	
	<update id="updateCondition">
		UPDATE REPORT
		SET REPORT_CONDITION= CASE WHEN REPORT_CONDITION = 'Y' THEN 'N' ELSE 'Y' END
		WHERE REPORT_NO=#{reportNo}
	</update>
	
</mapper>