<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 만약에 null로 데이터가 전달되었으면 빈칸이 아닌 "NULL"로 인식하도록 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>

	<!-- VO 별칭 설정 -->
	<typeAliases>
		<typeAlias type="com.rubato.member.domain.Member" alias="Member"/>
		<typeAlias type="com.rubato.market.domain.MarketSell" alias="MarketSell"/>
		<typeAlias type="com.rubato.market.domain.MarketImage" alias="MarketImage"/>
		<typeAlias type="com.rubato.market.domain.MarketComment" alias="MarketComment"/>
		<typeAlias type="com.rubato.lesson.domain.Lesson" alias="Lesson"/>
		<typeAlias type="com.rubato.lesson.domain.Apply" alias="Apply"/>
		<typeAlias type="com.rubato.board.domain.Board" alias="Board"/>
		<typeAlias type="com.rubato.board.domain.BoardComment" alias="BoardComment"/>
		<typeAlias type="com.rubato.chatting.domain.Chatting" alias="Chatting"/>
	</typeAliases>
	<!-- mapper파일 매핑 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/market-mapper.xml"/>
		<mapper resource="mappers/lesson-mapper.xml"/>
		<mapper resource="mappers/apply-mapper.xml"/>
		<mapper resource="mappers/manager-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/boardcomment-mapper.xml"/>
		<mapper resource="mappers/chatting-mapper.xml"/>
	</mappers>
</configuration>