  
#footerContainer{
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border-top: 0.5px solid #ccc;
}
#footerText{
    margin-top: 20px;
    color: #777777;
}

#footerText a:link, a:visited{
    text-decoration: none;
    color: #2fbdb1;
    font-weight: 700;
}