@charset "UTF-8";
#container {
    width: 1200px;
    height: 250px;  
    margin: 0 auto; 
    border-bottom: 1px solid #3eeadc;
}
ul li{
    list-style-type: none;
}
a{
    display: block;
}
a:link, a:visited  {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
a:hover {
    font-weight: bold;
    font-size: 90%;
    border-left: 1px solid rgb(61, 201, 198);
    border-right: 1px solid #3eeadc;
    cursor: pointer;
}
#logo-img {
    width: 150px;
    height: 150px;
    background-image: url("/resources/images/common/logo.png");
    background-size: 100%;
    margin-top: 100px;
    margin-right: 50px;
    float: left;
}
#navigator {
    width: 700px;
    height: 50px;
    margin-top: 200px;
    padding: 0;
    float: left;
}
    .item {
        float: left;
        width: 33%;
        text-align: center;
        line-height: 50px;
    }
#login-wrapper {
    width: 250px;
    float: right;
}
    button {
        margin-top: 170px;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 95%;
    }
    #login-btn {
        background-color: white;
        color: #6b6b6b;
        border: 1px solid rgb(61, 201, 198);
    }
    #join-btn {
        background-color: rgb(61, 201, 198);
        color: white;
        border: none;
    }
    #login-btn:hover, #join-btn:hover {
        cursor: pointer;
        background-color: #ccc;
        color: white;
        border: none;
    }