@charset "UTF-8";
#header-w {
    width: 100%;
    height: 70px;
    background-color: rgba(231, 231, 231, 0.377);
    border-bottom: 2px solid #2fbdb171;
    position: fixed;
    top: 0;
}
#header-container {
    width: 1200px;
    height: 70px;
    margin: 0 auto; 
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX( -50% );
}
#header-container ul li{
    list-style-type: none;
}
#navigator {
    width: 700px;
    height: 30px;
    margin-top: 30px;
    padding: 0;
    float: left;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
    .item {
        float: left;
        width: 33%;
        text-align: center;
        line-height: 50px;
    }
    #navigator a{
        display: block;
    }
    #navigator a:link, #navigator a:visited  {
        text-decoration: none;
        color: rgb(90, 107, 106);
        font-weight: 700;
    }
    #navigator a:hover {
        font-weight: bold;
        font-size: 95%;
        /* border-left: 1px solid #2fbdb1;
        border-right: 1px solid #2fbdb1; */
        cursor: pointer;
    }
    #logo-img {
        width: 150px;
        height: 50px;
        background-image: url("/resources/images/common/flat_logo.png");
        background-size: 100%;
        margin-top: 20px;
        margin-right: 50px;
        float: left;
    }
​
#login-wrapper {
    width: 250px;
    float: right; 
}
    #login-wrapper button {
        margin-top: 25px;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        font-weight: 700;
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
    #login-success {
        position: relative;
        top: 80px;
    }
    #login-btn {
        background-color: rgba(231, 231, 231, 0.377);
        color: #6b6b6b;
        border: 2px solid #2fbdb171;
    }
    #join-btn {
        background-color: #2fbdb1b0;
        color: white;
        border: none;
    }
    #login-btn:hover, #join-btn:hover {
        cursor: pointer;
        background-color: #ccc;
        color: white;
        border: none;
    }
    
#footerContainer{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

#footerLine{
    width: 1200px;
    border-top: solid 0.5px #ccc;
    margin: 0 auto;
    margin-top: 10px;
}

#footerText{
    margin-top: 20px;
    color: #777777;
}

#footerText a:link, a:visited{
    text-decoration: none;
    color: #2fbdb1;
    font-weight: 700;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#container {
    width: 100%;
    height: 2000px;  
    margin: 0 auto; 
    padding-top: 60px;
    text-align: center;
}
#main-layer1 {
    height: 700px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin-top: 50px;
}
/*////////////////////////////////////////////////////*/
/* Slideshow container */
.slideshow-container {
    margin: 0 auto;
}
.mySlides {
    margin: 0 auto;
}

  /* Caption text */
.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f200;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
/*////////////////////////////////////////////////////*/

#main-layer2 {
    height: 1000px;
    width: 1560px;
    font-family: 'Noto Sans KR', sans-serif;
    border-top: 1px solid #2fbdb1;
    margin: auto;
}
    
    #main-info {
        background-image: url(/resources/images/common/1.png);
        background-repeat: no-repeat;
        height: 500px;
        width: 1200px;
        padding-top: 50px;
        margin: 0 auto;
        margin-top: 50px;
    }
        #main-info div{
            width: 450px;
            height: 300px;
            float: left;
            padding-left: 50px;
            text-align: left;
            line-height: 2.5;
            font-size: 20px;
            color: white;
            padding: 50px;
            margin: 0 auto;  
            margin-left: 50px;   
            border-radius: 10px;   
        }
        #main-info div b {
            color: #fafafa;
            font-size: 23px;
        }
        #main-info div strong {
            font-style: italic;
            font-size: 24px;
            color: #ccc;
        }
    .main2-title {
        height: 100px;
        width: 100%;
        text-align: center;
        font-size: 22px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    #main2-img {
        height: 400px;
        width: 1500px;
        display: flex;
        justify-content: space-around;

    }
    .lesson-hot {
        width: 400px;
        height: 200px;
        float: left;
    }
        .lesson-hot div:hover {
            transform: scale(1.05);
            transition: 0.5s;
        } 
        .lesson-hot p {
            background: linear-gradient(45deg, #39b9af44, #46C2CB);
            font-size: 20px;
            color: white;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            font-weight: 700;
        }
        .lesson-hot div {
            width: 600px;
            height: 300px;
            text-align: center;
            color: white;
            font-size: 20px;
            font-weight: 900;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        #lesson-1 div{
            background-image: url("/resources/images/common/pianoside.jpg");
            background-size: 100%;    
        }     
        #lesson-2 div{
            background-image: url("/resources/images/common/mic.jpg");
            background-size: 100%;
        }
        
        
--------------하단부


#underContainer{
    width: 1200px;
    margin: 0 auto;
}

.quickS{
    width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    font-family: 'Noto Sans KR', sans-serif;
}

.quickText{
    margin-top: 50px;
    margin-left: 30px;
}

.quickText2{
    margin-left: 50px;
}

.quickS img{
    width: 120px;
    height: 120px;
    margin-top: 40px;
    margin-left: 110px;
}

#quickBox1:hover{
    transform: translateY(-10px);
    transition: all 0.3s ease-out;
}

#quickBox2:hover{
    transform: translateY(-10px);
    transition: all 0.3s ease-out;
}

#quickBox3:hover{
    transform: translateY(-10px);
    transition: all 0.3s ease-out;
}

#quickBox4:hover{
    transform: translateY(-10px);
    transition: all 0.3s ease-out;
}

#quickBox1{
    width: 250px;
    height: 300px;
    background-color: #B2A4FF;
    box-shadow: 5px 5px 10px 2px #ccc;
}
#quickBox2{
    width: 250px;
    height: 300px;
    background-color: #FFB4B4;
    box-shadow: 5px 5px 10px 2px #ccc;
}
#quickBox3{
    width: 250px;
    height: 300px;
    background-color: #FFDEB4;
    box-shadow: 5px 5px 10px 2px #ccc;
}
#quickBox4{
    width: 250px;
    height: 300px;
    background-color: #FFF9CA;
    box-shadow: 5px 5px 10px 2px #ccc;
}

#divLine{
    width: 1200px;
    border-top: solid 0.5px #ccc;
    margin: 0 auto;
    margin-top: -10px;
}

.underBox{
    width: 350px;
    height: 200px;
    background: linear-gradient(45deg, #39b9af44, #46C2CB);
    box-shadow: 3px 3px 5px 2px #ccc;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
    .underBox h3,p {
        margin-left: 20px;
        margin-top: 20px;
    }
