@charset "UTF-8";
header img {
    width: 130px;
}
hr {
    margin: 0;
    background:#2FBDB1;
    height:1px;
    border:0;
}
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#main-menu {
    width: 15%;
}
#main-menu ul{
    background-color: #2fbdb131;
    list-style:none; 
    margin: 0;
    padding: 0;
    list-style: none;
    height: 600px;
}
#main-menu li {
    margin-left: 20px;
}
#main-menu a {
    text-decoration: none;
    line-height: 70px;
    color: black;
}
#main-menu a:hover {
    color: white;
}

#main-board {
    /* background-color: bisque; */
    width: 70%;
    margin-left: 20px;
}
#main-table {
    margin-top: 30px;
}
main{ 
    display: flex; 
    flex-direction: row;
    
}

#footer {
    display: flex;
    margin-top: 20px;
}
#search-btn {
    background-color: #2fbdb1a2;
        color: white;
        border: none;
        border-radius: 8px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
th, td {
    padding: 6px 15px;
}
th {
    background: #2fbdb1a2;
    color: #fff;
    text-align: left;
}
tr:first-child th:first-child {
    border-top-left-radius: 6px;
}
tr:first-child th:last-child {
    border-top-right-radius: 6px;
}
td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}
td:first-child {
    border-left: 1px solid #c6c9cc;
}
/* tr:nth-child(even) td {
    background: #eaeaed;
  } */
tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}