#list-main {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 70px;
}
#list-title {
    width: 700px;
    text-align: center;
    margin: 30px auto;
    border-bottom: 2px solid #2fbdb1b9;
}
#list-content {
    width: 700px;
    margin: 0 auto;
    line-height: 3;  
    margin-bottom: 70px;
    border-bottom: 2px solid #2fbdb1b9;
}
    #detailLink:link, #detailLink:visited {
        text-decoration: none;
        color: black;
    } 
    #detailLink:hover {
        cursor: pointer;
        text-decoration-line: underline;
        text-decoration-color: #2fbdb1b9;
        text-decoration-thickness: 1.1px;
    }
#list-detail {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;  
    text-align: center;
}
    #list-detail b {
        color: #2fbdb1;
    }
    #list-detail span {
        font-weight: 600;
    }
    #list-detail:last-child {
        border: none;
    }
    #list-detail button {
    width: 120px;
    height: 40px;
    background-color: #fafafa;
    color: #2fbdb1;
    border: 1px solid #2fbdb1;
    font-weight: 700;
    font-size: 95%;
    font-family: 'Noto Sans KR', sans-serif;
    }
    #list-detail button:hover {
        cursor: pointer;
        background-color: #ccc;
        color: white;
        border: none;
    }