@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boardMain{
    margin-top: 100px;
    margin: 0 auto;
    --background-color: pink;
    width: 1200px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#boardMain h1{
    margin-top: 120px;
    margin-bottom: 30px;
    text-align: center;
}

#boardListUl{
	margin-bottom: 20px;
}

.listLine{
    width: 1000px;
    border-top: dotted 0.5px #ccc;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}


#boardList ul, li{ 
    list-style:none;
    text-align:center;
    padding:0;
    margin:0;
}

#boardList{
    width: 1000px;
    margin: 0 auto; /*가운데 정렬*/
}

#boardList > ul > li:first-child {
    text-align: center;
    font-size:14pt;
    height:40px;
    vertical-align:middle;
    line-height:30px;
}

#ulTable {margin-top:10px;}

#boardTitlecss{
    text-decoration: none;
    color: black;
}

#boardTitlecss a:link, a:visited{
    text-decoration: none;
    color: black;
}

#ulTable > li:first-child > ul > li {
    background: #2fbdb1ad;
    border-bottom: 1px solid #32a79dcc;
    font-weight:bold;
    text-align:center;
    color: white;
    height: 40px;
    margin-bottom: 25px;
    font-size: 20px;
    padding-top: 5px;
}

#ulTable > li > ul {
    clear:both;
    padding:0px auto;
    position:relative;
    min-width:40px;
}
#ulTable > li > ul > li { 
    float:left;
    font-size:10pt;
    --border-bottom:1px solid #ccc;
    vertical-align:baseline;
}    

#ulTable > li > ul > li:first-child                  {width:10%;} /*No 열 크기*/
#ulTable > li > ul > li:first-child +li              {width:15%;} /*분류 열 크기*/
#ulTable > li > ul > li:first-child +li+li           {width:45%;} /*제목 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li        {width:10%;} /*작성일 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li+li     {width:10%;} /*작성자 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li+li+li  {width:10%;} /*조회수 열 크기*/

.left {
    text-align : center;
}

#naviDIV{
    width: 250px;
    display: flex;
    justify-content: center;
    --position: absolute;
    --margin-bottom: 50px;
    --margin-top: 20px;
}

#divPaging {
    margin:0 auto; 
    width:1000px; 
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.naviBtn{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.naviBtn:hover{
    background-color: #2FBDB1;
    color: white;
}

#divPaging a {
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-left: 1px;
    padding: 1px 10px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
}

#divPaging a:first-child{
    margin-left: 0;
}

#divPaging a:link, a:visited{
    text-decoration: none;
    color: black;
}

#liSearchOption {clear:both;}
#liSearchOption > div {
    margin:0 auto; 
    margin-top: 250px; 
    width:auto; 
    height:100px;
}

#liSearchOption:focus { outline:none; } /*검색창 테두리 생기지 않게 하기*/

#naviDIV input[type=button] {
    border: 1px solid #ccc;
    width: 60px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 400px;
}

#naviDIV input[type=button]:hover{
    background-color: #2FBDB1;
    color: black;
}

#liSearchOption input[type=submit] {
    border: 1px solid #ccc;
    width: 40px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
}

#liSearchOption input[type=submit]:hover{
    background-color: #2FBDB1;
    color: black;
}

#selSearchOption {
    border: 1px solid #ccc;
    width: 100px;
    height: 30px;
}

#liSearchOption input[id=txtKeyWord]{
    border: 1px solid #ccc;
    width: 150px;
    height: 30px;
    color: #2FBDB1;
}

#searchDIV{
    margin-bottom: 100px;
}




