@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#contentContainer{
    margin: 0 auto;
    font-family: 'IBM Plex Sans KR', sans-serif;
    width: 1000px;
    margin-top: 100px;
}

#commentDiv{
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#commentContainer {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    margin-bottom: 50px;
}
#commentContainer::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#contentDetail h1{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

#contentDetail{
    margin-bottom: 20px;
}

.detailLine{
    width: 1000px;
    border-top: solid 0.5px #ccc;
    margin: 0 auto;
    margin-bottom: 10px;
}

.detailLine2{
    width: 1000px;
    border-top: dotted 0.5px #ccc;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#contentTop{
    width: 1000px;
    height: 40px;
    text-align: center;
    
}

#contentCategory, #contentSubject, #contentWriter, #contentDate, #contentCount, #contentComment {
    float: left;
}

#contentCategory{
    width: 10%;
}

#contentSubject{
    width: 40%;
}

#contentWriter{
    width: 15%;
    margin-bottom: 20px;
}

#contentDate{
    width: 15%;
}

#contentCount{
    width: 10%;
}

#contentComment{
    width: 10%;
}

#contentText{
    width: 800px;
    height: 250px;
    margin-bottom: 50px;
    margin-top: 30px;
    display: block;
    justify-items: center;
}

#contentText input[type=textarea]{
	border: none;
}

#boardList{
    margin-left: 10px;
    margin-bottom : 50px; /* 하얀 추가 - 신고버튼 사라지면 댓글이랑 간격이 좁아져서 수정함 */
    width: 50px;
    height: 30px;
    display: inline-block;
    border: 1px solid #2FBDB1;
    background-color: white;
    cursor: pointer;
}
#reportList {
	margin-left: 10px;
    margin-bottom : 50px; 
    width: 70px;
    height: 30px;
    display: inline-block;
    border: 1px solid #2FBDB1;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}
#boardList:hover{
    background-color: #2FBDB1;
    color: white;
}


#boardModify{
    margin-left: 10px;
    width: 50px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}


#boardModify:hover{
    background-color: #2FBDB1;
    color: white;
}

#boardReport {
    margin-left: 875px;
    width: 50px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

#boardReport:hover{
    background-color: #ccc;
    color: white;
}

#boardDelete{
    margin-left: 810px;
    width: 50px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

#boardDelete:hover{
    background-color: #ccc;
    color: white;
}


#commentWriter, #commentDate{
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

#commentDiv{
    width : 1000px;
    height: 100px;
    margin : 0 auto;
}

#commentWriter{
    font-size: 0.9rem;
    color: #2FBDB1;
}

#commentDate {
    margin-top: 5px;
    font-size: 0.9rem;
    color: grey;
}

#commentWD{
    clear: both;
    margin-top: 20px;
    white-space: pre-wrap;
    flex-grow: 1;
}

#commentWD input[type=text]{
    width: 800px;
    height: 50px;
    border: none;
    margin-bottom: 40px;
    margin-top: 20px;

}
#commentSub {
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#commentSub input[type=text]{
    width: 890px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    outline: none;
}

#commentSub input[type=submit]{
    width: 100px;
    height: 50px;
    display: inline-block;
    border: 1px solid #2FBDB1;
    background-color: #2FBDB1;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#commentSub input[type=submit]:hover{
    background-color: #2FBDB1;
    color: black;
}


.deleteCommentButton {
    width: 40px;
    height: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.deleteCommentButton:hover{
    background-color: #ccc;
    color: white;
}


#commentView{
    margin-top: 20px;
}

#commentWrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}





















